# This is a template for the environment variables you'll need for 
# deployment on various networks

# To use, copy this file, rename it .env, and fill in the values
# Everything will be interpreted as a string by JavaScript even though 
# you should not wrap values in quotation marks

# Alchemy endpoints should be passed in WITHOUT the rest of the url
# Private keys should be pasted WITHOUT the 0x prefix

# Example
EXAMPLE_ALCHEMY_KEY=582dabbadbeef8...
EXAMPLE_DEPLOYER_PRIV_KEY=deadbeef01EEdf972aBB...

# Rinkeby
RINKEBY_ALCHEMY_KEY=
RINKEBY_DEPLOYER_PRIV_KEY=

# mainnet
MAINNET_ALCHEMY_KEY=
MAINNET_DEPLOYER_PRIV_KEY=

# Kovan
KOVAN_ALCHEMY_KEY=
KOVAN_DEPLOYER_PRIV_KEY=

# Ropsten
ROPSTEN_ALCHEMY_KEY=
ROPSTEN_DEPLOYER_PRIV_KEY=

# Goerli
GOERLI_ALCHEMY_KEY=
GOERLI_DEPLOYER_PRIV_KEY=

# xDai
XDAI_DEPLOYER_PRIV_KEY=

# Mumbai
MUMBAI_ALCHEMY_API=
MUMBAI_DEPLOYER_PRIV_KEY=

# Optimism
OPTIMISM_ALCHEMY_API=
OPTIMISM_DEPLOYER_PRIV_KEY=

# Optimism Kovan
OPTIMISM_TEST_ALCHEMY_API=
OPTIMISM_TEST_DEPLOYER_PRIV_KEY=

# Arbitrum
ARBITRUM_ALCHEMY_API=
ARBITRUM_DEPLOYER_PRIV_KEY=

# Arbitrum Rinkeby
ARBITRUM_TEST_ALCHEMY_API=
ARBITRUM_TEST_DEPLOYER_PRIV_KEY=

# This repo is configured with a plugin for verifying contracts
# An Etherscan API key is needed for this

ETHERSCAN_API_KEY=